@model BDAS2_Flowers.Models.ViewModels.ProductCardVm
<div class="product-card">
    <img src="@Model.ImageUrl" alt="@Model.Title" />
    <div class="content">
        <div class="title">@Model.Title</div>
        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {
            <div class="subtitle">(@Model.Subtitle)</div>
        }
        <div class="mt-1 text-muted">@Model.PriceFrom.ToString("0 Kč")</div>
    </div>
    <div class="action"><a class="btn btn-brand w-100" href="#">Výběr možností</a></div>
</div>
